<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="postTitle">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea name="postText" class="form-control" cols="90" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>



    <%- include("partials/footer") -%>